@{
    ViewBag.Title = (Model.Pattern.ID == OpenManta.WebLib.WebInterfaceParameters.OUTBOUND_RULES_NEW_PATTERN_ID ? "Create New" : "Edit") + " Outbound Rule";
    Layout = "~/Views/_Layout.cshtml";
}

<script type="text/javascript">
	function Update() {
		PostToWebService("/api/v1/OutboundRules/Update", "{ 'patternID':'@Model.Pattern.ID',\
					 'name':'" + $('#txtName').val() + "',\
					 'description':'" + $('#txtDescription').val() + "',\
					 'virtualMTA':'" + $('#ddlVMTA').val() + "',\
					 'type':'" + $('#ddlType').val() + "',\
					 'patternValue':'" + $('#txtPattern').val().replace(/\\/g, '\\\\') + "',\
					 'maxConnections':'" + $('input[data-rule-type="@((int)OpenManta.Core.OutboundRuleType.MaxConnections)"]').val().replace(/,/g, '') + "',\
					 'maxMessagesConn':'" + $('input[data-rule-type="@((int)OpenManta.Core.OutboundRuleType.MaxMessagesConnection)"]').val().replace(/,/g, '') + "',\
					 'maxMessagesHour':'" + $('input[data-rule-type="@((int)OpenManta.Core.OutboundRuleType.MaxMessagesPerHour)"]').val().replace(/,/g, '') + "'}",
			function (data) {
			    if (data)
			        window.location = '/OutboundRules';
			    else
			        alert("Save failed!");
			},
			function (jqXHR, textStatus, errorThrown) {
				alert(JSON.parse(jqXHR.responseText).Message);
			});
	}
</script>

<table class="table table-striped">
	<tbody>
		<tr>
			<th>Name</th>
			<td><input id="txtName" type="text" value="@Model.Pattern.Name" /></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><textarea id="txtDescription">@Model.Pattern.Description</textarea></td>
		</tr>
		<tr>
			<th>Virtual MTA</th>
			<td>
				<select id="ddlVMTA">
					<option value="-1">All</option>
					@foreach (OpenManta.Core.VirtualMTA vMta in Model.VirtualMtaCollection)
					 {
						<option value="@vMta.ID" @(Model.Pattern.LimitedToOutboundIpAddressID == vMta.ID ? "selected=selected" : string.Empty)>@vMta.Hostname</option>
					 }
				</select>
			</td>
		</tr>
		<tr>
			<th>Type</th>
			<td>
				<select id="ddlType">
					<option value="@((int)OpenManta.Core.OutboundMxPatternType.Regex)" @(Model.Pattern.Type == OpenManta.Core.OutboundMxPatternType.Regex ? "selected=selected" : string.Empty)>Regex</option>
					<option value="@((int)OpenManta.Core.OutboundMxPatternType.CommaDelimited)" @(Model.Pattern.Type == OpenManta.Core.OutboundMxPatternType.CommaDelimited ? "selected=selected" : string.Empty)>List</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>Pattern</th>
			<td><textarea id="txtPattern">@Model.Pattern.Value</textarea></td>
		</tr>
		@foreach (OpenManta.Core.OutboundRule rule in Model.OutboundRules)
		{
			<tr>
				<th>@switch (rule.Type)
					{
						case OpenManta.Core.OutboundRuleType.MaxConnections:
							@:Maximum Connections
							break;
						case OpenManta.Core.OutboundRuleType.MaxMessagesConnection:
							@:Maximum Messages / Connection
							break;
						case OpenManta.Core.OutboundRuleType.MaxMessagesPerHour:
							@:Maximum Messages / Hour
							break;
					}
				</th>
				<td><input type="text" data-rule-type="@((int)rule.Type)" value="@Convert.ToInt32(rule.Value).ToString("N0")" /></td>
			</tr>
		} 
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td>
				<a href="javascript:Update();" class="btn btn-success">@(Model.Pattern.ID == OpenManta.WebLib.WebInterfaceParameters.OUTBOUND_RULES_NEW_PATTERN_ID ? "Create" : "Update")</a>
				<a href="/OutboundRules" class="btn">Cancel</a>
			</td>
		</tr>
	</tfoot>
</table>

